body {
  color: #225893;
/*   text-align: center; */
  }

.logo {
  font-family: 'Shadows Into Light';
  font-weight: bold;
  font-size: 2.5em;
  color: #010837;
  padding-top: 20px;}

.copyright {
  float: right;
  font-family: 'Shadows Into Light';
  font-weight: bold;
  font-size: 1.2em  ;
  color: #4B86BB;}

/* ----------------------------------- 表格 ----------------------------------- */
div.tabledata table {
    margin-top:10px;
    border-collapse:collapse;
    border:1px solid #888;
    }

div.tabledata th {
    padding:5px 0 5px 0;
    background-color:#ccc;
    border:1px solid #888;
    }

div.tabledata td {
    vertical-align:text-top;
    padding-top:4px;
    background-color:#efefef;
    border:1px solid #aaa;
    }

div.tabledata ul, div.tabledata li {
    list-style-type:none;
    margin:0;
    padding:0;
    }

div.tabledata td em{
    color:#ff0000;
    font-weight:normal;
    }



table.dataintable {
    font-family:Arial, Helvetica, sans-serif;
    margin-top:10px;
    border-collapse:collapse;
    border:1px solid #888;
    width:100%;
    }

table.dataintable pre {
    width:auto;
    margin:0;
    padding:0;
    border:0;
    background-color:transparent;
    }

table.dataintable th {
    vertical-align:baseline;
    padding:5px 15px 5px 5px;
    background-color:#ccc;
    border:1px solid #888;
    text-align:center;
    }

table.dataintable td {
    vertical-align:text-top;
    padding:5px 15px 5px 5px;
    background-color:#efefef;
    border:1px solid #aaa;
    text-align:center;
    }


table.dataintable p {margin:0 0 2px 0;}

div#maincontent table.dataintable ul, div#maincontent table.dataintable li {
    list-style-type:none;
    margin:0;
    padding:0;
    }

table.dataintable td em{
    color:#0000ff;
    font-weight:normal;
    }
    
table.dataintable .table_value {color:#0F93D2;}

.no_wrap {white-space:nowrap;}

div#maincontent table.dataintable ul.listintable {
    margin:20px;
    padding:0;
    }

div#maincontent table.dataintable ul.listintable  li{
    list-style-type:disc;
    }


table.dataintable td.html5_new {
    background: #EFEFEF url(/i/site_table_bg.gif) top right no-repeat;
    }

.html5_new_note span {
    color:blue;
    font-weight:bold;
    }

tr.notsupported {
    color:#999999;
    }
