<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- Spring configuration file declaration -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>app-config.xml</param-value>
	</context-param>	
	<!-- Spring Bean configuration loader-->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!-- unified external visit interface -->
    <servlet>
    	<description>统一外部接口</description>
    	<display-name>WebEntrance</display-name>
    	<servlet-name>WebEntrance</servlet-name>
    	<servlet-class>com.pintu.facade.WebEntrance</servlet-class>
    	<init-param>
	    	<param-name>targetBean</param-name>
	    	<!-- 这是个bean实例id，在app-config.xml中定义 -->
	    	<param-value>paramAnalyzer</param-value>
	    </init-param>
    </servlet>
    <servlet>
    	<description></description>
    	<display-name>ImageUploader</display-name>
    	<servlet-name>ImageUploader</servlet-name>
    	<servlet-class>com.pintu.tools.ImageUploader</servlet-class>
    </servlet>  	    
    <servlet-mapping>
    	<servlet-name>WebEntrance</servlet-name>
    	<url-pattern>/pintuapi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ImageUploader</servlet-name>
    	<url-pattern>/ImageUploader</url-pattern>
    </servlet-mapping>
</web-app>
